* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}

.nav {
  flex: 1;
  text-align: right;
}

nav ul {
  display: inline-block;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: black;
}

p {
  color: black;
}
.menu-icon {
  display: none;
}


.header {
      background: radial-gradient(lightblue, whitesmoke);
    }


  h2 {
     margin-left: 10px;
   }


   p {
     margin-left: 10px;
     margin-bottom: 10px;
   }


   h1 {
     margin-bottom: 10px;
     margin-left: 10px;
     margin-top: 10px;
   }


   /* Footer styles */
 footer {
  margin-top: 50px;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 10px;
}
footer h2 {
  margin: 0 0 10px;
  font-size: 18px;
}
.social-icons {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.social-icons li {
  margin: 0 10px;
}
.social-icons a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s;
}
.social-icons a:hover {
  color: #007BFF;
}


/*---- media query for menu------*/

@media only screen and (max-width: 800px) {
  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    background: #333;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  nav ul li {
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav ul li a {
    color: #fff;
  }
  .menu-icon {
    display: block;
    cursor: pointer;
    width: 50px;
  }
}

/*---- media query for small 600 screen size------*/
@media only screen and (max-width: 600px) {
  .row {
    text-align: center;
  }
  .col-2,
  .col-3,
  .col-4 {
    flex-basis: 100%;
  }

  .col-7{
    justify-items: center;
    align-items: center;
    margin: 50px;
  }

  h2 {
     margin-left: 10px;
   }


   p {
     margin-left: 10px;
     margin-bottom: 10px;
   }


   h1 {
     margin-bottom: 10px;
     margin-left: 10px;
     margin-top: 10px;
   }

   .footer-col-2 img {
      width: 180px;
      margin-bottom: 20px;
      margin-left: -20px;
    }

}

/* Footer Mobile Responsive Styling */
@media only screen and (max-width: 800px) {
  footer h2 {
      font-size: 16px;
  }
  .social-icons a {
      font-size: 18px;
  }
}